* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 15pt arial;
  height: 100vh;
  border: 1px solid black;
  background: rgb(29, 224, 104) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgb(44, 38, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

#loom-companion-mv3 {
  display: none;
}
